# Gradle
*.zip
.gradle/
gradle-8.4/
build/

# Android
*.apk

# IDE
.idea/
*.iml
*.iws
*.ipr
.DS_Store

# Kotlin
*.class
*.jar

# Logs
*.log

# Generated
*.apklisting
*.hprof

# Keystore
*.jks
*.keystore

# Local config
local.properties
